.header {
    transition: background-color 0.5s ease;
  }
  
  .scrolled {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333; 
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header .mega-menu-item {
    margin: 0 20px;
  }
  
  .ttm-header-style-01 .mega-menu-item {
    margin: 0;
  }
  